* {
  color: #444851;
}

h1 {
  color: #1da7cb;
}

.triangle {
  width: 0;
  height: 0;
  cursor: pointer;
  border-bottom: 200px solid #555;;
}

.equilateral {
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
}

.equilateral:hover {
  border-bottom-color: #def0d8;
}

.isosceles {
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
}

.isosceles:hover {
  border-bottom-color: #15b684;
}


.scalene {
  border-left: 150px solid transparent;
  border-right: 70px solid transparent;
}

.scalene:hover {
  border-bottom-color: #1da7cb;
}

.result {
  height: 70px;
  letter-spacing: 1px;
}
